<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2 id="logged">You are logged in! </h2>

<!-- <% if (logged in as Admin or Employee) { %>
  <a href="../inventory/management.ejs">Manage Inventory</a>
<% } %> -->
