<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<ul>
  <li>Subject: subject</li>
  <li>From: username</li>
  <li>Message: txt</li>
</ul>

<a class="return" href="/account/inbox">Return to Inbox</a>

<form>
  <button formaction="/account/new-message" formmethod="">Reply</button>
  <button formaction="" formmethod="post">Mark as Read</button>
  <button formaction="" formmethod="post">Archive Message</button>
  <button formaction="" formmethod="post">Delete Message</button>
</form>