
<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    
<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="addClassificationForm" action="/inv/add-classification" method="post">
    <fieldset>
        <label>Classification name: <input name="classification_name" type="text" required></label>
        <small>Classification name cannot contain spaces, punctuation or any special characters.</small>
        <button type="submit">ADD CLASSIFICATION</button>
    </fieldset>
</form>