<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%# message %>

<!-- Add new classification view -->
<a href="/inv/add-classification">Add New Classification</a>

<!-- Add new inventory item view -->
<a href="/inv/add-inventory">Add New Inventory Item</a>

<!-- ROUTE TO GET TO THIS PAGE:
localhost:5500/inv -->
